@model StateMachine.MultiStepForm.Example.Models.DeepThought.QuestionViewModel
@{
    ViewData["Title"] = "What is six by seven? ";
}

<h2>So Long, and Thanks for All the Fish</h2>

We have recored your question of:

@if (Model != null)
{
    <span>
        @Model.Question
    </span>
}

    <div>
        <iframe width="681" height="511" src="https://www.youtube.com/embed/bG6b3V2MNxQ?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>