
@{
    ViewData["Title"] = "Forty Two";
}

<h2>Correct</h2>
You must have skipped that pangalatic gargle blaster yesterday, you got that right.
<div>
    <iframe width="661" height="511" src="https://www.youtube.com/embed/jBxVx9PonkA?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
@using (Html.BeginForm())
{
    <partial name="Triggers"/>
}