
@{
    ViewData["Title"] = "Forty Two";
}

<h2>Incorrect Answer</h2>
Better crack open your copy of the hitchhiker's guide to the galaxy
<div>
    <iframe width="681" height="511" src="https://www.youtube.com/embed/5ZLtcTZP2js?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
@using (Html.BeginForm())
{
    <partial name="Triggers" />
}