@model StateMachine.MultiStepForm.Models.DeepThought.QuestionViewModel
@{
    ViewData["Title"] = "What is six by seven? ";
}

<h2>You must know the question, before you can understand the answer.</h2>
As you were on the Earth five minutes before the vogon constructor fleet destroyed it, the answer is in your brain, GIVE IT TO US!
<div>
    <iframe width="908" height="511" src="https://www.youtube.com/embed/Zukh-0csKPc?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

@using (Html.BeginForm("QuestionToTheAnswer", "DeepThought", FormMethod.Post))
{
<div>
    @Html.LabelFor(m => m.Question)
    @Html.TextBoxFor(m => m.Question)
</div>

<partial name="Triggers" />
}
