<ul>
    @foreach (TriggerButton t in ViewBag.Triggers)
    {
        <li>
            <button name="trigger" type="submit" value="@t.Trigger">
                @t.TriggerDescription
            </button>
        </li>
    }
</ul>
<input type="hidden" name="State" value="@ViewBag.State"/>
